<%- include('partials/header') %>


<div class="main-container container">

    <div class="browse">
        <h1 class="browse">Browse Shows</h1>  
    </div>

    <div id="media-type" class="filter-box text-center align-items-center my-auto">
        <a href="/browsetv?page=<%= page %>&query=<%= query %>&sort_by=popularity.desc" class="no-underline"><div id="sort-popularity" class="filter-option selected">popular</div></a>
        <a href="/browsetv?page=<%= page %>&query=<%= query %>&sort_by=vote_average.desc" class="no-underline"><div id="sort-trending" class="filter-option">trending</div></a>
        <a href="/browsetv?page=<%= page %>&query=<%= query %>&sort_by=first_air_date.desc" class="no-underline"><div id="sort-date" class="filter-option">date</div></a>
        <a href="/browsetv?page=<%= page %>&query=<%= query %>&sort_by=name.desc" class="no-underline"><div id="sort-alpha" class="filter-option">alphabet</div></a>
    </div>

    <div class="input-group" id="search-btn">
        <form class="d-flex ms-3 kill-borders" id="search-bar" role="search" method="GET" action="/searchtv">
            <button class="btn" type="sumbit">
            <i class="bi bi-search" id="search-icon"></i>
            </button>
            <% if (query) { %>
                <input type="text" name="query" class="form-control me-2 kill-borders" id="search" type="search" aria-label="Search" value="<%= query %>">
            <% } else { %>
                <input type="text" name="query" class="form-control me-2 kill-borders" id="search" type="search" aria-label="Search">
            <% } %>
        </form>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="container-fluid mt-3">
            <div class="row">
                <% shows.forEach(show => { %>
                    <div class="col-12 col-sm-6 col-md-3 col-xxl-2 mb-3 desc-hover d-flex">
                        <a href="/tvshow/<%= show.id %>/season/1">
                            <img src="<%= imageBaseUrl %>/w500<%= show.poster_path %>" alt="<%= show.name %>" class="img-thumbnail">
                        </a>
                        <div class="desc-hover-box">
                            <h5><%= show.name %></h5>
                            <%= show.overview %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

    

    <!-- Pagination with Forward/Backward Arrows and Page Input -->
    <div class="d-flex justify-content-center align-items-center mb-2">
        <!-- Previous Page Button -->
        <a href="/browsetv?page=<%= page - 1 %>&query=<%= query %>&sort_by=<%= sort_by %>" class="btn browse-controls <%= page === 1 ? 'disabled' : '' %>">
          &laquo; Previous
        </a>
  
        <!-- Page Number Input -->
        <form class="mx-3" action="/browsetv" method="get">
          <label for="page-input" class="visually-hidden">Page Number</label>
          <input type="number" id="page-input" name="page" class="form-control" min="1" max="<%= total_pages %>" value="<%= page %>" />
        </form>
  
        <!-- Next Page Button -->
        <a href="/browsetv?page=<%= page + 1 %>&query=<%= query %>&sort_by=<%= sort_by %>" class="btn browse-controls <%= page === total_pages ? 'disabled' : '' %>">
          Next &raquo;
        </a>
    </div>
    <p>total pages: <%= total_pages %></p>


</div>

<%- include('partials/footer') %>