<%- include('partials/header') %>


<div class="main-container container">

    <!-- recently updated (horizontal arrows) -->
    <!-- most watched (horzontal arrows) -->
    <!-- random recommendations? -->
    <!-- random show/movie button -->


    <div class="home-headers">
        <h1>Recently Updated Movies</h1>
    </div>
    <div class="d-flex align-items-center container-fluid">
        <div class="arrow left-arrow" onclick="scrollLUM()">&#8592;</div>
        <div class="scroll-container" id="scroll-containerUM">
            <div class="thumbnails">
                <% new_movies.forEach(movie => { %>
                    <a href="/movie/<%= movie.id %>">
                        <img src="<%= imageBaseUrl %>/w500<%= movie.poster_path %>" alt="<%= movie.title %>" class="img-thumbnail"/>
                    </a>
                <% }); %>
            </div>
        </div>
        <div class="arrow right-arrow" onclick="scrollRUM()">&#8594;</div>
    </div>

    <div class="home-headers">
        <h1>Recently Updated Shows</h1>
    </div>
    <div class="d-flex align-items-center container-fluid">
        <div class="arrow left-arrow" onclick="scrollLUS()">&#8592;</div>
        <div class="scroll-container" id="scroll-containerUS">
            <div class="thumbnails">
                <% new_tv.forEach(movie => { %>
                    <a href="/tvshow/<%= movie.id %>/season/1">
                        <img src="<%= imageBaseUrl %>/w500<%= movie.poster_path %>" alt="<%= movie.title %>" class="img-thumbnail"/>
                    </a>
                <% }); %>
            </div>
        </div>
        <div class="arrow right-arrow" onclick="scrollRUS()">&#8594;</div>
    </div>




    <div class="home-headers">
        <h1>Most Watched Movies</h1>
    </div>
    <div class="d-flex align-items-center container-fluid">
        <div class="arrow left-arrow" onclick="scrollLMM()">&#8592;</div>
        <div class="scroll-container" id="scroll-containerMM">
            <div class="thumbnails">
                <% pop_movies.forEach(movie => { %>
                    <a href="/movie/<%= movie.id %>">
                        <img src="<%= imageBaseUrl %>/w500<%= movie.poster_path %>" alt="<%= movie.title %>" class="img-thumbnail"/>
                    </a>
                <% }); %>
            </div>
        </div>
        <div class="arrow right-arrow" onclick="scrollRMM()">&#8594;</div>
    </div>

    <div class="home-headers">
        <h1>Most Watched TV</h1>
    </div>
    <div class="d-flex align-items-center container-fluid">
        <div class="arrow left-arrow" onclick="scrollLMS()">&#8592;</div>
        <div class="scroll-container" id="scroll-containerMS">
            <div class="thumbnails">
                <% pop_tv.forEach(movie => { %>
                    <a href="/tvshow/<%= movie.id %>/season/1">
                        <img src="<%= imageBaseUrl %>/w500<%= movie.poster_path %>" alt="<%= movie.title %>" class="img-thumbnail"/>
                    </a>
                <% }); %>
            </div>
        </div>
        <div class="arrow right-arrow" onclick="scrollRMS()">&#8594;</div>
    </div>

</div>

<%- include('partials/footer') %>