<%- include('partials/header') %>

<div class="main-container">


    <div class="d-flex capsule mt-5 mb-5" style="background-image: url('<%= backdropPath %>');">
        <div class="blur-overlay container-fluid">

            <div class="container-fluid desc-resize">
                <div class="d-flex container-fluid desc-img">
                    <div><img src="<%= imageBaseUrl %>/w500<%= movie.poster_path %>" alt="<%= movie.title %>" class="img-thumbnail-main"></div>
                    <div class="ms-5 desc-size">
                        <div><h1 class="desc-title"><%= movie.title %></h1></div>
                        <div id="rating" class="my-2 text-center"><%= ageRating %></div>
                        <a href="/streammovie/<%= movie.id %>?query=<%= encodeURIComponent(movie.title) %>&type=movie">
                            <button class="desc-btn px-5 py-2" type="submit"><i class="bi bi-play-fill px-1"></i>Watch Now</button>
                        </a>

                        <% if (trailer) { %>
                            <% const trailer_url = `https://www.youtube.com/embed/${trailer.key}`; %>
                            <iframe class="embed-responsive-item trailer" src="<%= trailer_url %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <% } else { %>
                            <p>no trailer available.</p>
                        <% } %>
                    </div>
                </div>

                <div class="description">
                    <%= movie.overview %>
                </div>
            </div>



            <div class="desc d-flex align-items-center">
                <div class="ps-5">
                    <p class="desc-info"><strong>Rating:</strong> <%= movie.vote_average %></p>
                    <p class="desc-info"><strong>Director:</strong> <%= director.name %></p>
                    <p class="desc-info"><strong>Genres:</strong> <%= movie.genres.map(genre => genre.name).join(', ') %></p>
                    <p class="desc-info"><strong>Release Date:</strong> <%= movie.release_date %></p>
                    <p class="desc-info"><strong>Cast:</strong> <%= cast.slice(0, 6).map(actor => actor.name).join(', ') %></p>
                    <p class="desc-info"><strong><i class="bi bi-star"></i><i class="bi bi-star-fill"></i></strong></p>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('partials/footer') %>